{% extends 'base.html' %}
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>trainee list </title>
    {% endblock %}
    {% block content %}
    <h1>all trainees</h1>
    <ul>
        {% for trainee in trainees %}
            <li>{{ trainee.name }}</li>
        {% endfor %}
    </ul>
    <img src="{% static 'img/image.jpg' %}" alt="fasdf">
    <table width="100%" border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>email</th>
            <th>Img</th>
            <th>Actions</th>
        </tr>
        {% for trainee in trainees %}
        <tr>
            <td>{{ trainee.id }}</td>
            <td>{{ trainee.name }}</td>
            <td>{{ trainee.email }}</td>
            <td><img src="{{trainee.image.url}}" alt=""></td>
            <td>
                <a href="{% url 'insert'   %}">Insert</a>
                <a href="{% url 'update' 1 %}">Update</a>
                <a href="{% url 'delete' 1 %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
